.nav-enlace{
      display: inline-block;
      background:#CBCBCB;
      color=gray;
      padding: 10px 10px;
      text-decoration:none;
      text-decoration:none;
}
.R{
   color:green;
  font-family: 'Fascinate', cursive;
}
.e{
  color:black;
  font-family: 'Josefin Sans', sans-serif;
}
.d{
  color:black;
  font-family: 'Fascinate', cursive;
}
e{
  color:black;
  font-family: 'Josefin Sans', sans-serif;
}
y{
  background:#7CA25D;
  font-family: 'Pacifico', cursive;
}